@page
@model FirstPeoject.Pages.Admin.Index
@{
    ViewData["Title"] = "Index";
    Layout="../shared/_adminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>Welcome to Admin Panel</h2>
</div>